/* BASE STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: spotify-circular, spotify-circular-cyrillic,
        spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue,
        helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic,
        sans-serif;

    color: var(--text-grey);
    text-decoration: none;

    list-style-type: none;
}
:root {
    --text-grey: #b3b3b3;
}
svg {
    width: 24px;
    fill: var(--text-grey);
    margin-right: 16px;
}
h2 {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-bottom: 0.5rem;
}

h3 {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: center;
}
button {
    background: none;
    border: none;
    margin: auto;
    padding: 4px;
}
.bold-heading {
    font-weight: bolder;
}
.circular {
    border-radius: 50%;
    object-fit: contain;
}
img {
    width: 26px;
}

hr {
    border-top: 1px solid var(--text-grey);
    border-bottom: none;
    margin: 8px 0px;
}
/* UTILITY CLASSES */
.logo-container {
    margin-right: 16px;
}
.title {
    text-align: left;
}

.auto-1fr {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
}

ul li {
    padding: 5px 0;
}

ul li a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

body {
    display: grid;
    grid-template:
        "left-menu main" 1fr
        "footer footer" auto /
        auto 1fr;
    height: 100vh;
}

main {
    grid-area: main;
    overflow-y: scroll;
}

footer {
    grid-area: footer;
}

/* LEFT MENU */
.left-menu {
    grid-area: left-menu;
    background-color: #000000;

    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0 24px;

    width: 232px;
}
.main-nav {
    display: grid;
    place-items: left;
    padding-top: 24px;
}

.spotify.logo {
    height: auto;
}

.spotify.logo svg {
    width: 131px;
}

.nav-logo-container {
    display: inline-block;
}

.nav.logo {
    width: 100px;
    fill: blue;
}

.inside-image {
    width: 9px;
}
.playlists-nav .logo-container {
    background-color: grey;
    width: 24px;
    height: 24px;

    display: grid;
    place-items: center;

    border-radius: 1px;
}
.liked-songs {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.account-button {
    align-self: end;
}
.account-button img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}
/* MAIN - CONTENT */
main {
    /* background: -webkit-linear-gradient(#5c5c5f, #121212); */
    background-color: #151921;
    grid-template-columns: auto 1fr;
}
main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-thumb {
    background: #979797b4;
    height: 7px;
    border-radius: 20px;
}

.topbar {
    height: 90px;
    background-color: #0d0f1470;
    display: grid;
    place-content: center end;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.main-content nav ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    place-content: center;
    gap: 5%;
}

.main-content nav ul li a {
    text-transform: uppercase;
}
.main-content nav ul li .green-block {
    width: 50%;
    height: 2px;
    background-color: #1db954;
    margin: auto;
    padding: 0 10px;
}
section.topbar .button a {
    width: 100%;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}
main section {
    padding: 2em;
}

.horizontal-scroll-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px);
    justify-items: start;
    justify-content: left;

    gap: 20px;
}

.image-container img {
    width: 100%;
}
.item img {
    max-width: 250px;
    min-width: 200px;
}

.created-for h4,
.popular-artists h4 {
    text-align: left;
    margin-bottom: 1em;
}

/* MUSIC PLAYER */
footer {
    height: 100px;
    background-color: #181818;
    border-top: 1px solid #282828;

    display: grid;
    grid-template-columns: 232px 1fr 232px;
    place-items: center;
}
footer h3 {
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
}
footer h4 {
    text-align: left;
    font-size: 11px;
    margin: 0;
}

.now-playing {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 24px;
    gap: 10px;
    place-items: center space-between;
    place-content: center;
}
.now-playing img {
    width: 20px;
    color: #b3b3b3;
}
.now-playing .thumbnail img {
    width: 100%;
    object-fit: contain;
}
.now-playing .thumbnail {
    height: 40px;
    width: 40px;
}
.heart {
    display: grid;
    place-content: center right;
}

.progress-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    place-items: center;
    place-content: center;
}

.progress-bar div {
    height: 3px;
    width: 500px;
    border-radius: 2px;
    background-color: var(--text-grey);
    margin: 0 12px;
}
.music-player-buttons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    place-items: center;
    place-content: center;
}

.settings {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.settings img {
    width: 16px;
}
.settings .volume-level {
    width: 40px;
    height: 4px;
    background-color: #b3b3b3;
}
